<div class="toc panel panel-default">
    <div class="panel-heading"><%= title %></div>
        <div class="panel-body">
            <ol>
              <% for (var i=0, l = sources.length; i < l; i++) { %>
                <% var source = sources[i]; %>
                <li>
                  <a class="source" href="<%= source.href %>">
                    <%= source.name %>
                  </a>
                </li>
              <% } %>
            </ol>
        </div>
    </div>
</div>
