<!DOCTYPE html>

<html>
<head>
  <title>{{title}}</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="{{{baseurl}}}/bootstrap/css/bootstrap.min.css">
  <!-- Code highlighting -->
  <link rel="stylesheet" href="{{{baseurl}}}/prism/prism-hopscotch.css">
  {{#css}}
  <link rel="stylesheet" href="{{{baseurl}}}/{{.}}">
  {{/css}}
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="{{{baseurl}}}/">
                    <span class="navbar-brand">{{title}}</span>
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
      <div id="header">
          {{#toc}}
          <div class="toc panel panel-default">
              <div class="panel-heading">Table of Contents</div>
              <div class="panel-body">
                  <ol>
                  {{#sources}}
                  <li>
                      <a class="source" href="{{{baseurl}}}/{{{href}}}">{{name}}</a>
                  </li>
                  {{/sources}}
                  </ol>
              </div>
          </div>
          {{/toc}}
      </div>
      <div class="sections">
          {{#comments}}
          {{{description.full}}}
          {{#code}}
          <div><pre class="language-javascript" data-start="{{codeStart}}"><code class="language-javascript">{{{.}}}</code></pre></div>
          {{/code}}
          {{/comments}}
      </div>
      <hr>
  </div>
  <script type="text/javascript" src="{{{baseurl}}}/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="{{{baseurl}}}/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{{baseurl}}}/prism/prism.js"></script>
  {{#js}}
  <script type="text/javascript" src="{{{baseurl}}}{{.}}"></script>
  {{/js}}
  {{^exclude-source}}
  <script type="text/javascript" src="{{{baseurl}}}/{{{srcfile}}}"></script>
  {{/exclude-source}}
</body>
</html>
