<div class="toc panel panel-default">
    <div class="panel-heading">{{title}}</div>
        <div class="panel-body">
            <ol>
            {{#sources}}
            <li>
                <a class="source" href="{{href}}">{{name}}</a>
            </li>
            {{/sources}}
            </ol>
        </div>
    </div>
</div>
